{
    "openapi": "3.1.0",
    "info": {
        "title": "Telegram Bot API",
        "description": "The Bot API is an HTTP-based interface created for developers keen on building bots for Telegram.\\nTo learn how to create and set up a bot, please consult [Introduction to Bots](https://core.telegram.org/bots) and [Bot FAQ](https://core.telegram.org/bots/faq).",
        "version": "9.1"
    },
    "servers": [
        {
            "url": "https://api.telegram.org/bot{token}/",
            "description": "Production Telegram Bot API server",
            "variables": {
                "token": {
                    "description": "Bot token provided by BotFather. It is used to authenticate requests to the Telegram Bot API.",
                    "default": "123456789:ABCdefGHIjklMNOpqrSTUvwxYZ"
                }
            }
        },
        {
            "url": "https://api.telegram.org/beta/bot{token}/",
            "description": "Beta Telegram Bot API server",
            "variables": {
                "token": {
                    "description": "Bot token provided by BotFather. It is used to authenticate requests to the Telegram Bot API.",
                    "default": "123456789:ABCdefGHIjklMNOpqrSTUvwxYZ"
                }
            }
        }
    ],
    "paths": {
        "/addStickerToSet": {
            "post": {
                "summary": "addStickerToSet",
                "description": "Use this method to add a new sticker to a set created by the bot. Emoji sticker sets can have up to 200 stickers. Other sticker sets can have up to 120 stickers. Returns True on success.",
                "operationId": "addStickerToSet",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "sticker": {
                                        "$ref": "#/components/schemas/InputSticker"
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "user_id",
                                    "name",
                                    "sticker"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/answerCallbackQuery": {
            "post": {
                "summary": "answerCallbackQuery",
                "description": "Use this method to send answers to callback queries sent from inline keyboards. The answer will be displayed to the user as a notification at the top of the chat screen or as an alert. On success, True is returned.",
                "operationId": "answerCallbackQuery",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "cache_time": {
                                        "type": "integer"
                                    },
                                    "callback_query_id": {
                                        "type": "string"
                                    },
                                    "show_alert": {
                                        "type": "boolean"
                                    },
                                    "text": {
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "callback_query_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/answerInlineQuery": {
            "post": {
                "summary": "answerInlineQuery",
                "description": "Use this method to send answers to an inline query. On success, True is returned.No more than 50 results per query are allowed.",
                "operationId": "answerInlineQuery",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "button": {
                                        "$ref": "#/components/schemas/InlineQueryResultsButton"
                                    },
                                    "cache_time": {
                                        "type": "integer"
                                    },
                                    "inline_query_id": {
                                        "type": "string"
                                    },
                                    "is_personal": {
                                        "type": "boolean"
                                    },
                                    "next_offset": {
                                        "type": "string"
                                    },
                                    "results": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/InlineQueryResult"
                                        }
                                    }
                                },
                                "required": [
                                    "inline_query_id",
                                    "results"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/answerPreCheckoutQuery": {
            "post": {
                "summary": "answerPreCheckoutQuery",
                "description": "Once the user has confirmed their payment and shipping details, the Bot API sends the final confirmation in the form of an Update with the field pre_checkout_query. Use this method to respond to such pre-checkout queries. On success, True is returned. Note: The Bot API must receive an answer within 10 seconds after the pre-checkout query was sent.",
                "operationId": "answerPreCheckoutQuery",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "error_message": {
                                        "type": "string"
                                    },
                                    "ok": {
                                        "type": "boolean"
                                    },
                                    "pre_checkout_query_id": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "pre_checkout_query_id",
                                    "ok"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/answerShippingQuery": {
            "post": {
                "summary": "answerShippingQuery",
                "description": "If you sent an invoice requesting a shipping address and the parameter is_flexible was specified, the Bot API will send an Update with a shipping_query field to the bot. Use this method to reply to shipping queries. On success, True is returned.",
                "operationId": "answerShippingQuery",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "error_message": {
                                        "type": "string"
                                    },
                                    "ok": {
                                        "type": "boolean"
                                    },
                                    "shipping_options": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/ShippingOption"
                                        }
                                    },
                                    "shipping_query_id": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "shipping_query_id",
                                    "ok"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/answerWebAppQuery": {
            "post": {
                "summary": "answerWebAppQuery",
                "description": "Use this method to set the result of an interaction with a Web App and send a corresponding message on behalf of the user to the chat from which the query originated. On success, a SentWebAppMessage object is returned.",
                "operationId": "answerWebAppQuery",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "result": {
                                        "$ref": "#/components/schemas/InlineQueryResult"
                                    },
                                    "web_app_query_id": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "web_app_query_id",
                                    "result"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/SentWebAppMessage"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/approveChatJoinRequest": {
            "post": {
                "summary": "approveChatJoinRequest",
                "description": "Use this method to approve a chat join request. The bot must be an administrator in the chat for this to work and must have the can_invite_users administrator right. Returns True on success.",
                "operationId": "approveChatJoinRequest",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "user_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/banChatMember": {
            "post": {
                "summary": "banChatMember",
                "description": "Use this method to ban a user in a group, a supergroup or a channel. In the case of supergroups and channels, the user will not be able to return to the chat on their own using invite links, etc., unless unbanned first. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns True on success.",
                "operationId": "banChatMember",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "revoke_messages": {
                                        "type": "boolean"
                                    },
                                    "until_date": {
                                        "type": "integer"
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "user_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/banChatSenderChat": {
            "post": {
                "summary": "banChatSenderChat",
                "description": "Use this method to ban a channel chat in a supergroup or a channel. Until the chat is unbanned, the owner of the banned chat won't be able to send messages on behalf of any of their channels. The bot must be an administrator in the supergroup or channel for this to work and must have the appropriate administrator rights. Returns True on success.",
                "operationId": "banChatSenderChat",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "sender_chat_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "sender_chat_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/closeForumTopic": {
            "post": {
                "summary": "closeForumTopic",
                "description": "Use this method to close an open topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights, unless it is the creator of the topic. Returns True on success.",
                "operationId": "closeForumTopic",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "message_thread_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "message_thread_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/closeGeneralForumTopic": {
            "post": {
                "summary": "closeGeneralForumTopic",
                "description": "Use this method to close an open 'General' topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights. Returns True on success.",
                "operationId": "closeGeneralForumTopic",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    }
                                },
                                "required": [
                                    "chat_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/convertGiftToStars": {
            "post": {
                "summary": "convertGiftToStars",
                "description": "Converts a given regular gift to Telegram Stars. Requires the can_convert_gifts_to_stars business bot right. Returns True on success.",
                "operationId": "convertGiftToStars",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "business_connection_id": {
                                        "type": "string"
                                    },
                                    "owned_gift_id": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "business_connection_id",
                                    "owned_gift_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/copyMessage": {
            "post": {
                "summary": "copyMessage",
                "description": "Use this method to copy messages of any kind. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_id is known to the bot. The method is analogous to the method forwardMessage, but the copied message doesn't have a link to the original message. Returns the MessageId of the sent message on success.",
                "operationId": "copyMessage",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "allow_paid_broadcast": {
                                        "type": "boolean"
                                    },
                                    "caption": {
                                        "type": "string"
                                    },
                                    "caption_entities": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/MessageEntity"
                                        }
                                    },
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "disable_notification": {
                                        "type": "boolean"
                                    },
                                    "from_chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "message_id": {
                                        "type": "integer"
                                    },
                                    "message_thread_id": {
                                        "type": "integer"
                                    },
                                    "parse_mode": {
                                        "type": "string"
                                    },
                                    "protect_content": {
                                        "type": "boolean"
                                    },
                                    "reply_markup": {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/InlineKeyboardMarkup"
                                            },
                                            {
                                                "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                                            },
                                            {
                                                "$ref": "#/components/schemas/ReplyKeyboardRemove"
                                            },
                                            {
                                                "$ref": "#/components/schemas/ForceReply"
                                            }
                                        ]
                                    },
                                    "reply_parameters": {
                                        "$ref": "#/components/schemas/ReplyParameters"
                                    },
                                    "show_caption_above_media": {
                                        "type": "boolean"
                                    },
                                    "video_start_timestamp": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "from_chat_id",
                                    "message_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/MessageId"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/copyMessages": {
            "post": {
                "summary": "copyMessages",
                "description": "Use this method to copy messages of any kind. If some of the specified messages can't be found or copied, they are skipped. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_id is known to the bot. The method is analogous to the method forwardMessages, but the copied messages don't have a link to the original message. Album grouping is kept for copied messages. On success, an array of MessageId of the sent messages is returned.",
                "operationId": "copyMessages",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "disable_notification": {
                                        "type": "boolean"
                                    },
                                    "from_chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "message_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "message_thread_id": {
                                        "type": "integer"
                                    },
                                    "protect_content": {
                                        "type": "boolean"
                                    },
                                    "remove_caption": {
                                        "type": "boolean"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "from_chat_id",
                                    "message_ids"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MessageId"
                                            }
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/createChatInviteLink": {
            "post": {
                "summary": "createChatInviteLink",
                "description": "Use this method to create an additional invite link for a chat. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. The link can be revoked using the method revokeChatInviteLink. Returns the new invite link as ChatInviteLink object.",
                "operationId": "createChatInviteLink",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "creates_join_request": {
                                        "type": "boolean"
                                    },
                                    "expire_date": {
                                        "type": "integer"
                                    },
                                    "member_limit": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "chat_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/ChatInviteLink"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/createChatSubscriptionInviteLink": {
            "post": {
                "summary": "createChatSubscriptionInviteLink",
                "description": "Use this method to create a subscription invite link for a channel chat. The bot must have the can_invite_users administrator rights. The link can be edited using the method editChatSubscriptionInviteLink or revoked using the method revokeChatInviteLink. Returns the new invite link as a ChatInviteLink object.",
                "operationId": "createChatSubscriptionInviteLink",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "subscription_period": {
                                        "type": "integer"
                                    },
                                    "subscription_price": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "subscription_period",
                                    "subscription_price"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/ChatInviteLink"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/createForumTopic": {
            "post": {
                "summary": "createForumTopic",
                "description": "Use this method to create a topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights. Returns information about the created topic as a ForumTopic object.",
                "operationId": "createForumTopic",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "icon_color": {
                                        "type": "integer"
                                    },
                                    "icon_custom_emoji_id": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "name"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/ForumTopic"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/createInvoiceLink": {
            "post": {
                "summary": "createInvoiceLink",
                "description": "Use this method to create a link for an invoice. Returns the created invoice link as String on success.",
                "operationId": "createInvoiceLink",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "business_connection_id": {
                                        "type": "string"
                                    },
                                    "currency": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "is_flexible": {
                                        "type": "boolean"
                                    },
                                    "max_tip_amount": {
                                        "type": "integer"
                                    },
                                    "need_email": {
                                        "type": "boolean"
                                    },
                                    "need_name": {
                                        "type": "boolean"
                                    },
                                    "need_phone_number": {
                                        "type": "boolean"
                                    },
                                    "need_shipping_address": {
                                        "type": "boolean"
                                    },
                                    "payload": {
                                        "type": "string"
                                    },
                                    "photo_height": {
                                        "type": "integer"
                                    },
                                    "photo_size": {
                                        "type": "integer"
                                    },
                                    "photo_url": {
                                        "type": "string"
                                    },
                                    "photo_width": {
                                        "type": "integer"
                                    },
                                    "prices": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/LabeledPrice"
                                        }
                                    },
                                    "provider_data": {
                                        "type": "string"
                                    },
                                    "provider_token": {
                                        "type": "string"
                                    },
                                    "send_email_to_provider": {
                                        "type": "boolean"
                                    },
                                    "send_phone_number_to_provider": {
                                        "type": "boolean"
                                    },
                                    "subscription_period": {
                                        "type": "integer"
                                    },
                                    "suggested_tip_amounts": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "title",
                                    "description",
                                    "payload",
                                    "currency",
                                    "prices"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/createNewStickerSet": {
            "post": {
                "summary": "createNewStickerSet",
                "description": "Use this method to create a new sticker set owned by a user. The bot will be able to edit the sticker set thus created. Returns True on success.",
                "operationId": "createNewStickerSet",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "needs_repainting": {
                                        "type": "boolean"
                                    },
                                    "sticker_type": {
                                        "type": "string"
                                    },
                                    "stickers": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/InputSticker"
                                        }
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "user_id",
                                    "name",
                                    "title",
                                    "stickers"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/declineChatJoinRequest": {
            "post": {
                "summary": "declineChatJoinRequest",
                "description": "Use this method to decline a chat join request. The bot must be an administrator in the chat for this to work and must have the can_invite_users administrator right. Returns True on success.",
                "operationId": "declineChatJoinRequest",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "user_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deleteBusinessMessages": {
            "post": {
                "summary": "deleteBusinessMessages",
                "description": "Delete messages on behalf of a business account. Requires the can_delete_sent_messages business bot right to delete messages sent by the bot itself, or the can_delete_all_messages business bot right to delete any message. Returns True on success.",
                "operationId": "deleteBusinessMessages",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "business_connection_id": {
                                        "type": "string"
                                    },
                                    "message_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "required": [
                                    "business_connection_id",
                                    "message_ids"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deleteChatPhoto": {
            "post": {
                "summary": "deleteChatPhoto",
                "description": "Use this method to delete a chat photo. Photos can't be changed for private chats. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns True on success.",
                "operationId": "deleteChatPhoto",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    }
                                },
                                "required": [
                                    "chat_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deleteChatStickerSet": {
            "post": {
                "summary": "deleteChatStickerSet",
                "description": "Use this method to delete a group sticker set from a supergroup. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Use the field can_set_sticker_set optionally returned in getChat requests to check if the bot can use this method. Returns True on success.",
                "operationId": "deleteChatStickerSet",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    }
                                },
                                "required": [
                                    "chat_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deleteForumTopic": {
            "post": {
                "summary": "deleteForumTopic",
                "description": "Use this method to delete a forum topic along with all its messages in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_delete_messages administrator rights. Returns True on success.",
                "operationId": "deleteForumTopic",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "message_thread_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "message_thread_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deleteMessage": {
            "post": {
                "summary": "deleteMessage",
                "description": "Use this method to delete a message, including service messages, with the following limitations:- A message can only be deleted if it was sent less than 48 hours ago.- Service messages about a supergroup, channel, or forum topic creation can't be deleted.- A dice message in a private chat can only be deleted if it was sent more than 24 hours ago.- Bots can delete outgoing messages in private chats, groups, and supergroups.- Bots can delete incoming messages in private chats.- Bots granted can_post_messages permissions can delete outgoing messages in channels.- If the bot is an administrator of a group, it can delete any message there.- If the bot has can_delete_messages permission in a supergroup or a channel, it can delete any message there.Returns True on success.",
                "operationId": "deleteMessage",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "message_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "message_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deleteMessages": {
            "post": {
                "summary": "deleteMessages",
                "description": "Use this method to delete multiple messages simultaneously. If some of the specified messages can't be found, they are skipped. Returns True on success.",
                "operationId": "deleteMessages",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "message_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "message_ids"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deleteMyCommands": {
            "post": {
                "summary": "deleteMyCommands",
                "description": "Use this method to delete the list of the bot's commands for the given scope and user language. After deletion, higher level commands will be shown to affected users. Returns True on success.",
                "operationId": "deleteMyCommands",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "language_code": {
                                        "type": "string"
                                    },
                                    "scope": {
                                        "$ref": "#/components/schemas/BotCommandScope"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deleteStickerFromSet": {
            "post": {
                "summary": "deleteStickerFromSet",
                "description": "Use this method to delete a sticker from a set created by the bot. Returns True on success.",
                "operationId": "deleteStickerFromSet",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sticker": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "sticker"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deleteStickerSet": {
            "post": {
                "summary": "deleteStickerSet",
                "description": "Use this method to delete a sticker set that was created by the bot. Returns True on success.",
                "operationId": "deleteStickerSet",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deleteStory": {
            "post": {
                "summary": "deleteStory",
                "description": "Deletes a story previously posted by the bot on behalf of a managed business account. Requires the can_manage_stories business bot right. Returns True on success.",
                "operationId": "deleteStory",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "business_connection_id": {
                                        "type": "string"
                                    },
                                    "story_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "business_connection_id",
                                    "story_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deleteWebhook": {
            "post": {
                "summary": "deleteWebhook",
                "description": "Use this method to remove webhook integration if you decide to switch back to getUpdates. Returns True on success.",
                "operationId": "deleteWebhook",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "drop_pending_updates": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/editChatInviteLink": {
            "post": {
                "summary": "editChatInviteLink",
                "description": "Use this method to edit a non-primary invite link created by the bot. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns the edited invite link as a ChatInviteLink object.",
                "operationId": "editChatInviteLink",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "creates_join_request": {
                                        "type": "boolean"
                                    },
                                    "expire_date": {
                                        "type": "integer"
                                    },
                                    "invite_link": {
                                        "type": "string"
                                    },
                                    "member_limit": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "invite_link"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "description": "Request success indicator"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/ChatInviteLink"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/editChatSubscriptionInviteLink": {
            "post": {
                "summary": "editChatSubscriptionInviteLink",
                "description": "Use this method to edit a subscription invite link created by the bot. The bot must have the can_invite_users administrator rights. Returns the edited invite link as a ChatInviteLink object.",
                "operationId": "editChatSubscriptionInviteLink",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "invite_link": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
[...]
